# Ignore all common image file types


/**/*.pt
Cropping/**/*.jpg

# Option 1: Ignore the entire folder named "provided"
AFTI_PMID_SINGLE_CLASS_TESTING_backup_20250215_134318/ 
## I seems that the above might still be tracked
AFTI_PMID_MULTICLASS_WITHOUT_COPEPOD_IN_USE/
Pipeline_testing/
Nalia_some_images_with_labels_labels_could_be_better/
Cropping/Padding_testing/Cropped_images_multiple_classes_train_use_for_classifier/
Cropping/Padding_testing/Cropped_images_multiple_classes_val_used_for_classifier/

